root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
keep_existing_linebreaks = true
max_line_length = off

[*.{json,xml,yml,htm,html,js,ts,css,scss,less}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
