html {
	color: black;
	background: white;
	font-family: serif;
}

h1, h2, h3, h4, h5 {
	font-family: sans-serif;
}

body {
	padding: 0;
	margin: 0;
	border: 0;
	background: white;
	color: black;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div.main a {
	font-weight: bold;
}

td.header {
	text-align: left;
	padding-left: 2em;
}

p.author {
	margin: .1em 0 1.5em 0;
	font-size: small;
}

p.author span.actions {
	color: #aaa;
}

h2:first-child {
	margin-top: 0;
}

h2 {
	margin-top: 4em;
	margin-bottom: 0;
}

p.q {
	font-style: italic;
	font-weight: bold;
}

div.note {
	border-left: 2px solid black;
	color: black;
	padding: 0 1em 0 1em;
	text-align: left;
	margin: 2px 1em 2px 1em;
}

div.note h3 {
	margin: 0;
	font-size: medium;
}

div.security {
	padding: .2cm;
	border-left: 0.5em solid #ffa;
	border-top: 0.5em solid #ffa;
	border-bottom: 0.5em solid #ffa;
}

div.security h4 {
	margin-top: 0;
	padding-top: 0;
}

p.note {
	font-size: smaller;
	padding-left: 1cm;
	padding-right: 1cm;
}

div.stop h3 {
	text-align: center;
}

div.stop {
	background: #fbb;
	color: black;
	border: 1px solid black;
	padding: .2cm;
	text-align: center;
	margin: 2px 4em 2px 4em;
}

pre {
	background: #ddd;
	color: black;
	padding: 0.2cm;
}

div.heading img {
	margin: .3em;
}

img {
	border: none;
}

p.zero {
	border-left: 2px solid #888;
	margin-left: 2em;
	padding-left: 2em;
}

tt {
	font-weight: bold;
}

dt {
	font-family: sans-serif;
	font-weight: bold;
}

div.heading p.thanks {
	text-align: center;
	font-size: small;
	color: #836d52;
}

table    {
	border-collapse: collapse;
}
*#col1         { border-right: 3px solid #888; }
table.split td { padding: 1em; }
table.split th {
	border-bottom: 1px solid #888;
	vertical-align: top;
	width: 50%;
	padding: 1em;
}

table.frontpage *#col1 { border-right: 4px dashed #aaa; }
table.frontpage th { border-bottom: 4px dashed #aaa; }

table.matrix {
	border: 1px solid black;
}

table.matrix th {
	border: 1px solid black;
	padding: .3em;
	background: #ff8;
}

table.matrix td {
	border: 1px solid #888;
	padding: .3em;
	background: #ffc;
}

table.matrix td.yes {
	background: #8f8;
}

table.matrix td.no {
	background: #f88;
}

th {
	white-space: nowrap;
}

h1 {
	padding: .2em 0 0 0;
	margin: 0;
	font-size: 400%;
}

td.sidebar h2 {
	font-size: small;
	padding-right: 1em;
}

td.sidebar {
	border-top: 1px dashed #88f;
	border-right: 1px dashed #88f;
	vertical-align: top;
	background: #def;
	padding: 0;
	margin: 0;
	padding-left: 15px;	/* For expanders */
}

td.main {
	vertical-align: top;
	padding-right: 2em;
	padding-left: 2em;
	width: 100%;
}

td.sidebar ul {
	padding: 0;
	list-style: none;
	margin-left: 1em;
}

td.sidebar li {
	margin: 0;
	padding: 0;
	padding-right: .1em;
	font-weight: bold;
	padding-top: .4em;
	font-family: sans-serif;
}

td.sidebar li li {
	padding-top: 0;
	font-weight: normal;
	font-family: serif;
}

td.sidebar li.leaf {
	list-style-image: url(navicons/square.png);
}

td.sidebar li.open {
	list-style-image: url(navicons/open.png);
}

td.sidebar li.closed {
	list-style-image: url(navicons/closed.png);
}

td.sidebar a {
	text-decoration: none;
	padding: 0;
	color: #008;
	white-space: nowrap;
}

td.sidebar a.selected {
	background: #88f;
	color: white;
}

td.sidebar a:hover {
	background: #88f;
	color: white;
}

div.footer {
	font-size: smaller;
	text-align: right;
	color: #222;
	margin: 8em 2em 1em 2em;
	clear: both;
}

div.footer span.logos a {
	margin-left: 10px;
}

dl dt {
	margin-top: .5em;
}

dl dd {
	margin-top: .1em;
}

dl.spaced {
	margin: 2em;
}

dl.spaced dt {
	margin-top: 1em;
}

dl.spaced dd {
	margin-top: .2em;
}

div.figure {
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div.figure img {
	padding: 1em 1em 0.5em 1em;
}

div.figure p {
	font-weight: bold;
	padding: 0;
	margin: 0 1em 0.5em 1em;
}

span.note {
	border: 1px solid black;
	background: #ffefa1;
	padding: .5em;
}

ul.spaced li {
	padding-bottom: 1em;
}

span.comment {
	color: blue;
}

table.picturebullets {
	margin-left: auto;
	margin-right: auto;
}

table.picturebullets td {
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
}

table.picturebullets h3 {
	padding: 0;
	margin: 0;
}

tr.summary p {
	padding: 0.2em;
	margin: 0;
	margin-left: 1em;
}

table.picturebullets td.image {
	text-align: center;
	vertical-align: top;
}

table.quicklinks {
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	border-spacing: 1em;
	border-collapse: separate;
	clear: both;
}

table.quicklinks td p {
	padding: 0;
	margin: 0;
}

table.quicklinks a.img {
	text-decoration: none;
}

table.quicklinks td {
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 1em;
	background: #def;
	-moz-border-radius: 1em 1em 1em 1em;
	width: 25%;
}

span.count {
	color: #888;
	padding-left: 1em;
}

ul.faqtoc {
	list-style-type: none;
	counter-reset: faqno;
}

ul.faqtoc li ol li:before {
	content: counter(faqno, decimal) ". ";
	counter-increment: faqno 1;
}

ul.faqtoc li ol {
	padding-bottom: 0.5em;
	list-style-type: none;
}

q {
	font-style: italic;
}

span.shaded {
	color: #888;
}

tr.d0 td {
	background: #eee;
}

td.keyinfo {
	width: 10em;
	vertical-align: top;
}

td.keyinfo a {
	font-weight: bold;
	text-decoration: none;
}

td.keyinfo span.summary {
	font-size: smaller;
	font-style: italic;
	color: #333;
}

td.teaser {
	vertical-align: top;
	color: #666;
}

td.teaser:hover {
	color: #000;
}

td.teaser a {
	display: block;
	text-align: right;
	float: right;
	color: #66f;
}

div.program {
	float: right;
	border: 1px dashed #88f;
	margin: 0.5em;
	padding: 0.5em;
	background: #def;
	font-size: smaller;
}

div.program th:after {
	content: ":";
}

div.program th {
	text-align: right;
	padding-right: 0.5em;
}

span.keyphrase {
	color: #800;
	font-style: italic;
}

span.more:hover {
	color: #000;
}

span.more:hover a {
	color: #00f;
}

span.more {
	color: #666;
	padding-left: 1em;
}

span.more a {
	color: #66f;
	font-weight: normal;
}

p.uml {
	text-align: center;
}

p.diagram {
	text-align: center;
}

div.lookhere {
	border: 1px solid black;
	color: black;
	padding: .2cm;
	text-align: center;
	margin: 2px 8em 2px 8em;
	background: #ff8;
	font-weight: bold;
}

span.captionnote {
	font-style: italic;
	font-size: smaller;
}

div.answers {
	padding-top: 2em;
}
