.wy-side-nav-search {
  background-image: url('img/logo.png');
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: 16px 12px;
}

.wy-nav-side {
  background: #DDEEFF;
}

.wy-menu-vertical span {
  line-height: 21px;
  font-weight: bold;
  color: black;
}

.wy-menu-vertical a {
  font-size: 85%;
  line-height: 21px;
  color: #0000A5;
}

.wy-menu-vertical li.current a {
  color: #0000A5;
}

.wy-menu-vertical li ul li a {
  color: #0000A5;
}

.wy-menu-vertical a:hover {
  background-color: #8888FF;
}

.wy-menu-vertical li.current a:hover {
  background-color: #8888FF;
}

.wy-nav-side {
  height: 100%;
}

.wy-nav-content-wrap {
  background: white;
}

.wy-nav-content {
  max-width: unset;
  background: white;
}

footer {
  font-size: 75%;
}

.rst-content dl:not(.docutils) dt {
  color: unset;
}

.rst-versions {
  height: 0px;
}

ul.subnav span.caption-text {
  padding: 0.4em 2.4em;
}

span.expandable {
  cursor:pointer;
  color: #0000A5;
}

span.expandable:hover {
  background-color: #8888FF;
}

.green {
  background-color: #cd5 !important;
}
.yellow {
  background-color: gold !important;
}
.red {
  background-color: #f99 !important;
}
